@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

:root {
  --pink: #ff007f;
}

body {
  height: 100vh;
  font-family: "Prompt", sans-serif;
  color: #fff;
  background: #002;
}

main {
  padding: 0.5em;
}
