@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

:root {
  --blue: #0072ef;
  --green: #00ff9f;
  --purple: #6b3f75;
  --pink: #ff007f;
  --grey: #262626;
  --yellow: #ffff33;
}

body {
  background: var(--blue);
  font-family: "Prompt", sans-serif;
}

main {
  padding: 0.5em;
}

.v-100 {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
