:root {
  --blue: #0072ef;
  --green: #00ff9f;
  --purple: #6b3f75;
  --pink: #ff007f;
  --grey: #262626;
  --yellow: #ffff33;
}

.bg-pink {
  background: var(--blue);
}

.v-100 {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
