.background {
  position: absolute;
  height: 99.8%;
  width: 99.8%;
  background-color: rgba(0, 0, 0, 0.75);
}

.wrapper {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
  color: #fff;
  border-radius: 0.5em;
  text-align: center;
  padding: 0.5em;
  width: 70vw;
  max-width: 300px;
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0% {
    transform: translateX(500px);
  }
  70% {
    transform: translateX(-10px) rotate(-2deg);
  }
  90% {
    transform: translateX(-5px) rotate(-1deg);
  }
  100% {
    transform: translateX(0px);
  }
}

.button {
  align-self: flex-end;
  border: 0;
  background: none;
  color: #fff;
  transition: all 0.2s;
}

.button:hover {
  color: var(--pink);
  transition: all 0.2s;
}

.links {
  display: flex;
  padding: 0;
  list-style: none;
}

.bgIcon {
  text-decoration: none;
  color: #ccc;
  font-size: 2em;
  margin: 0 0.3em;
  size: 2em;
  transition: all 0.15s;
}

.bgIcon:hover {
  color: var(--pink);
  transition: all 0.15s;
}

.photo {
  width: 75%;
  border-radius: 50%;
}
