.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--pink);
  color: #fff;
}

.button {
  border: 0px;
  border-radius: 0.25em;
  background: none;
  color: #fff;
  padding-right: 0.5em;
  font-size: 1.2em;
  transition: color 0.5s;
}

.button:hover {
  color: var(--blue);
  transition: color 0.5s;
}

.title {
  padding-left: 0.5em;
}
