.navbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  background: var(--blue);
  color: #fff;
}

.button {
  border: 0px;
  border-radius: 0.25em;
  background: none;
  color: #fff;
  padding-right: 1em;
  transition: color 0.5s;
}

.button:hover {
  color: var(--pink);
  transition: color 0.5s;
}

.title {
  padding-left: 1em;
}
